* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1d1d1d;
    color: aliceblue;
}

.container {
    background-image: url("images/AI.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

h1 {
    position: absolute;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    z-index: 100;
    top: -54px;
}

table {
    border-collapse: collapse;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 0 #7575757d;
    z-index: 100;
}

td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    border: 1px solid rgb(229, 224, 224);
    color: #ffffff;
    background-color: #1d1d1d;
}

@media (max-width:767px) {
    td {
        min-width: 100px;
        height: 100px;
        font-size: 25px;
    }
    h1 {
        font-size: 30px;
    }
}

@media (max-width:310px) {
    td {
        min-width: 85px;
        height: 85px;
    }
}